
# Uncomment the next two lines to publish package to GitHub
# execute npm login --registry=https://npm.pkg.github.com  
# enter username, PAT and email
# execute yarn publish
registry=https://npm.pkg.github.com/ekimblejr
//npm.pkg.github.com/:_authToken=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
# Uncomment the next line to publish package to NPMJS
# run npm login and enter username, password and email
# execute yarn publish
# registry=https://registry.npmjs.org/
