
# Uncomment the next two lines to publish package to GitHub
# Execute npm login --registry=https://npm.pkg.github.com  
# Enter username, PAT and email
# Execute yarn publish
registry=https://npm.pkg.github.com/ekimblejr
//npm.pkg.github.com/:_authToken=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
# Uncomment the next line to publish package to NPMJS
# Remove @username from package.json name
# Remove repository & publishConfig nodes from package.json
# Run npm login and enter username, password and email
# Enter OTP
# Execute yarn publish
#registry=https://registry.npmjs.org/
